.custom-orders-wrapper {
  width: 100%;
  /* background: #f6f5f3; */
  min-height: 100vh;
  overflow-x: hidden;
}

.order-hover {
  cursor: pointer;
  transition: background 0.2s ease;
}
.order-hover:hover {
  background-color: #b0beee;
}


@media (max-width: 768px) {
  .custom-orders-wrapper {
    width: 100vw;
    overflow-x: auto;
  }
}
